/* src/styles/RegisterPage.css */




.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.form-section {
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent background for the form */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.logo {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.signup-form {
  width: 100%;
}

.signup-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.signup-form input,
.signup-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-button {
  width: 100%;
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.signup-button:hover {
  background-color: darkgreen;
}

.login-link {
  margin-top: 15px;
  text-align: center;
  color: #000000;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #000000;
  color: white;
}

.navbar-logo a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  margin-left: 60px;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-img {
  height: 65px; /* Adjust the height as needed */
  margin-left: -35px;
}
